.page-header {
    font-size: 32px;
    margin-bottom: 30px;
}

.image-small {
    width: 100%;
    border-radius: 10px;
}

.section-header {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
