:root {
    --app-left-padding: 10px;
    --app-right-padding: 10px;
}

@media (min-width: 800px) {
    :root {
        --app-left-padding: 50px;
        --app-right-padding: 50px;
    }
}

.page-header {
    font-size: 32px;
    padding: 20px 0 20px calc(var(--app-left-padding) + 10px);
}

.image-small {
    width: 100%;
    border-radius: 10px;
}

.section-header {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

@media (min-width: 800px) {
    .section-header {
        font-size: 22px;
    }
}

.section-container > div {
    cursor: pointer;
    padding: 30px var(--app-right-padding) 20px var(--app-left-padding);
}

.section-container > div:nth-child(odd) {
    background-color: #dfdfdf;
}
