.page-header {
    font-size: 32px;
    padding: 10px 0 10px 20px;
}

.image-small {
    width: 100%;
    border-radius: 10px;
}

.section-header {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

@media (min-width: 800px) {
    .section-header {
        font-size: 22px;
    }
}

.section-container > div {
    padding: 20px 10px 10px 10px;
}

.section-container > div:nth-child(odd) {
    background-color: #dfdfdf;
}
