.mySvg {
    transform: translate(-40vw, 0);
    /*margin-left: -40vw;*/
    /*margin-right: -30vw;*/
}

.gone {
    display: none;
}

.hidden {
    visibility: hidden;
}

.info {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 12px;
}

@media (min-width: 800px) {
    .info {
        font-size: 14px;
    }
}

.more-info {
    margin-left: 10px;
}

.wifi {
    display: flex;
    column-gap: 20px;
}

@media (min-width: 800px) {
    .wifi {
        column-gap: 50px;
    }
}
