.scroll-container {
    overflow: auto;
    white-space: nowrap;
    /*display: flex;*/
}

.image-scrollshow {
    max-width: 85%;
    border-radius: 10px;
    max-height: 85vh; /* for rotating your phone sideways */
}

.image-scrollshow:not(:first-child) {
    margin-left: 10px;
}

.image-scrollshow:not(:last-child) {
    margin-right: 10px;
}

svg {
    width: 90%;
    height: 90%;
    max-width: 85%;
    max-height: 85vh; /* for rotating your phone sideways */
    /*display: block;*/
}

/*rect {*/
/*    width: 90%;*/
/*    height: 90%;*/
/*}*/


