.scroll-container {
    overflow: auto;
    white-space: nowrap;
}

.image-scrollshow {
    max-width: 85%;
    max-height: 90vh; /* for rotating your phone sideways */
    border-radius: 10px;
}

.image-scrollshow:not(:first-child) {
    margin-left: 10px;
}

.image-scrollshow:not(:last-child) {
    margin-right: 10px;
}
