.scroll-container {
    overflow: auto;
    white-space: nowrap;
}

.image-scrollshow {
    width: 85%;
    border-radius: 10px;
}

.image-scrollshow:not(:first-child) {
    margin-left: 10px;
}

.image-scrollshow:not(:last-child) {
    margin-right: 10px;
}
