.app {
    max-width: 800px;
    margin: auto;
    background-color: #ebebeb;
    /*padding: 10px 15px 10px 15px;*/
}

/*@media (min-width: 800px) {*/
/*    .app {*/
/*        padding: 10px 40px 10px 40px;*/
/*    }*/
/*}*/

